## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
n = 5

print (n)

5

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
CONS = 8.5
type (CONS)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
type(n)

int

4) Crear una variable que contenga tu nombre

In [6]:
mi_nombre = 'Joelit Gallardo'

5) Crear una variable que contenga un número complejo

In [7]:
Complejo = 5 + 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(Complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
pi_r = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
val1 = 'True'
val2 = True
val1 ==val2

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print (type(val1), type(val2))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
suma = 24 + 9.3

11) Realizar una operación de suma de números complejos

In [23]:
a = 5
b = 3j
sum_c = a + b
print (sum_c)

(5+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [24]:
num = 55
res = num - sum_c
print (res)

(50-3j)

13) Realizar una operación de multiplicación

In [25]:
25 * 3

75

14) Mostrar el resultado de elevar 2 a la octava potencia

In [27]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [29]:
cociente = 27/4
print (cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [31]:
entero = 27//4
print (entero)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [32]:
resto = 27%4
print (resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [33]:
4*6+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [34]:
'Hola ' + 'Ciudadanos del Mundo'

'Hola Ciudadanos del Mundo'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [40]:
'2' == 2
# datos de diferentes tipos

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [46]:
int('2') == (2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [47]:
a = float('3,8')

# los datos float van separados con un punto '.'

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [48]:
l = 3
l-=1
print (l)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [50]:
1<<2

# sistema utilizado para representar numeros 
# en los computadores y dispositivos electronicos

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [56]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
2 + 2

4

In [58]:
'2' + '2'

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [60]:
'Bye ' * 3

'Bye Bye Bye '